/* general styling */

* {
  box-sizing: border-box;
}

body{
  background: white;
  height: 100%;
  margin: 0 0;
}

h1{
  font-family:  Calibri, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: black;
}

h2{
  font-family:  Calibri, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: black;
}

h3{
  font-family:  Calibri, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  color: black;
}

p{
  font-family:  Calibri, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: black;
}

/* .header { grid-area: header}; */

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;

  background-color: rgba(238, 232, 170, 70%);
  backdrop-filter: blur(5px);
  height: 10vh;
  margin: 0 0;
}

/* Nav CSS ---------------------*/
#logo {
  margin-left: 30px;
}

#dropdown-btn {
  display: none;
}

.nav-menu{ grid-area: nav;}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu a {
  padding: 20px;
  color: rgb(3, 0, 0);
  text-decoration: none;
  font-family:  Calibri, sans-serif;
  font-size: 25px;
  display: inline-block;
}

/* .nav-menu a:hover {
  text-decoration: underline;
  font-size: 26px;
} */

.nav-item  {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-item :hover {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border-bottom: 7px solid rgb(0, 0, 0);
}

.nav-dropdown {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    visibility: hidden;
    opacity: 0.1;
    top: 0;
    width: 0;
    left: -500px;
    transition: left 0.3s ease-out;
  }

  .nav-menu > a {
    display: none;
  }

  .nav-dropdown {
    display: block;
    position: absolute;
    left: 5vw;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 35px;
    height: 35px;
  }

  .nav-menu-icon {
    width: 35px;
  }

  .nav-menu-icon > div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  
  .nav-menu.show {
    visibility: visible;
    opacity: 1;
    width: 100vw;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: rgba(154, 205, 50, 90%);
    backdrop-filter: blur(5px);
  }

  .nav-menu.show.nav-item {
    display: inline-block;
  }

  .nav-menu.show.nav-item > a {
    display: inline;
  }

  .header {
    justify-content: center;
  }

  #logo {
    margin: 0 0;
  }
}

/* attractions.html styling */
.center-container {
  display: flex;
  justify-content: center;
}
#time {
  margin-top: 50px;
  background-color: #e9e9e9;
  width: 80%;
  text-align: center;
}
.center-container {
  display: flex;
  justify-content: center;
}

#hours {

  background-color: #fdfdfd;
  width: 80%;
  text-align: center;
}

#banner {
  padding: 0px;
  margin: 0px;
  background-image: url('../img/attraction1.jpg');
  background-size: cover;
  width: 100%;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner-title {
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;

}

#banner-text {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin: 0px;
  text-align: center;

}



/* index.html styling --------------------*/


li {
  width: 12em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 3em;
  background: rgb(73, 73, 73);
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li::before{
  content: '';
  position: absolute;
  top: 1.9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: rgb(73, 73, 73);
  z-index: -1;
}


li:first-child::before {
  display: none;
}

.active {
  background: rgb(191, 194, 29);
}

.active ~ li {
  background: rgb(191, 194, 29);
}

.active ~ li::before {
  background: rgb(191, 194, 29);
}



/* Slideshow styling */
/* .mySlides {display: none;}
img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slide {
  flex-basis: 100%;
  flex-shrink: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
  cursor: default;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.description-container{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding:0px;
  margin-top: 20px;
  margin-bottom: 5px;
  justify-content: space-between;

}

.description-item{grid-area: description}
.description-item {
  width: 380px;
  padding:20px;
  border: 1px solid  rgb(243, 243, 226);
  border-radius: 8px;
  margin-bottom: 50px;
  display: inline-block;
  margin-left: 5px;
  margin-left: 5px;

}

.description-item .image {
  width: 100%;
  object-fit: cover;
  opacity: 1;
  border-radius: 5px;
  transition: .5s ease;
  z-index: -10;
}


.description-item:hover .image {
  opacity: 0.3;
}





/* tickets.html styling ---------------------- */
#ticket-banner {
  width: 100%;
}

.ticket-img-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: 300px;
}

.in-text h2 {
  color: rgb(1, 3, 1);
  font-size: 26px;
}

.in-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  padding: 15px;
}

.ticket-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ticket-item {
  border: 1px solid  rgb(255, 252, 96);
  /* background-color: rgb(243, 243, 226); */
  margin: 10px;
  display: inline-block;
  padding: 7px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.ticket-item h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.ticket-item button {
  margin: auto 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 3px solid rgb(251, 255, 44);
  font-size: 1rem;
  background: rgb(255, 252, 96);
}

.ticket-item .ticket-img {
  opacity: 1;
  transition: .5s ease;
  margin-left: 50%;
  transform: translateX(-50%);
  height: 150px;
  width: 230px;
}

.ticket-item:hover .ticket-img {
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  .ticket-item {
    width: 85vw;
  }

  .ticket-img {
    width: 90%;
  }
}

/* ----- Contacts styling ------ */
#slogan {
  text-align: center;
}

.direction-container {
  margin-left: 50vw;
  transform: translateX(-50%);
}

.direction-box {
  border: 1px solid rgba(238, 232, 170, 70%);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .direction-container {
    width: 90vw;
  }
}

/* CONTACT FORM */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    /* width: 100%; Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  #fname {
    width: 40%;
  }

  #lname {
    width: 40%;
  }

  #contact {
    width: 80%
  }

  #subject {
    width: 80%
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: rgb(255, 252, 96);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .form-container {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  @media only screen and (max-width: 600px) {
    .form-container {
      width: 90vw;
    }
  }

  /* #contactf {
    text-align: center;
  } */


/* Footer CSS ---------------------- */

footer {grid-area: footer;}

footer{
  width: 100vw;
  padding: 20px;
  background-color: rgb(251, 255, 44);
  bottom:0;
  text-align: center;
  color: purple;
}